body {
    margin: auto;
    background: #383d48;
}

svg {
    margin: 10px;
    background: #383d48;
}

text {
    font: 10px sans-serif;
}

.axis path {
    fill: none;
}

.x path,
.x line,
.y line {
    stroke: #86878a;
    stroke-width: 1px;
    fill: none;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #86878a;
    font-size: 12px;
}

.line {
    fill: none;
    stroke: #fff;
    stroke-width: 3px;
}

.area {
    fill: url(#area-gradient);
    stroke: none;
}

.point {
    fill: #2adaf8;
    stroke-width: 2px;
    stroke: #fff;
}

.selector-point {
    fill: #383d48;
    stroke-width: 1px;
    stroke: #2adaf8;
}

.selector-line {
    stroke: #2adaf8;
}
