body {
    margin: auto;
}

svg {
    border: 1px solid gainsboro;
    margin: 10px;
    background: #383d48;
}

text {
    font: 10px sans-serif;
}

.axis {
    fill: none;
    stroke: #fff;
    stroke-opacity: 0.3;
    stroke-width: 2;
    stroke-dasharray: 3, 5;
}

.chart {
    fill: blue;
    stroke: red;
}

.axisPoint {
    fill: #7987a1;
    stroke: #fff;
    stroke-width: 2;
}

.point {
    fill: red;
    stroke: #fff;
    stroke-width: 2;
}